<div class="title">
    <h2>Real Estate List</h2>
</div>
<div class="item-list">
    <app-real-estate-item imageSrc="assets/img/img1.jpeg"></app-real-estate-item>
    <app-real-estate-item imageSrc="assets/img/img2.jpeg"></app-real-estate-item>
    <app-real-estate-item imageSrc="assets/img/img3.jpeg"></app-real-estate-item>
    <app-real-estate-item imageSrc="assets/img/img4.jpeg"></app-real-estate-item>
    <app-real-estate-item imageSrc="assets/img/img5.jpeg"></app-real-estate-item>
    <app-real-estate-item imageSrc="assets/img/img6.jpeg"></app-real-estate-item>
    <app-real-estate-item imageSrc="assets/img/img7.jpeg"></app-real-estate-item>
    <app-real-estate-item imageSrc="assets/img/img8.jpeg"></app-real-estate-item>
    <app-real-estate-item imageSrc="assets/img/img9.jpeg"></app-real-estate-item>
</div>
