.title{
    max-width: 500px;
    margin: auto;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.item-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
h2{
    text-align: center;
}